/*
  任何数字、颜色或者变量都可以参与运算。就是less提供了加（+）、减（-）、乘（*）、除（/）四种算数运算。
  注意：
    * 运算符中左右两侧由空格隔开
    * 如果两个不同单位的值参与运算，则取第一个值的单位
    * 如果两个参与运算的值一个有单位一个没有单位，则最后运算的结果的单位为有单位的那个值的单位
*/
body {
  width: 30px;
  height: 40px;
  color: #444444;
}
